{% extends "base.html" %}
{% load static %}

{% block top %}
  {% if username == "gonshow" %}
  <p>{{ username }}さん、ようこそ！</p>
  {% else %}
  <p>guestさん、ようこそ！!</p>
  {% endif %}
  <p>{% now "Y-m-d H:i" %} </p>
  <h1>Funny-Day-Service</h1>
  <img src="{% static 'laugh_oldman.jpg' %}"/>
{% endblock %}

{% block main %}
  <p>< お題 ></p>
  <h1>Q.こんなバグは嫌だ。どんなの？</h1><br>
  <h3>さあ、あなたのFunnyを世界に届けよう！</h3><textarea></textarea><br>
  <input type="checkbox">プロ申請<br><br>
  <input type="submit" value="送信"><br>
{% endblock %}

{% block answers %}
  <h2>Funny Answers</h2>
  {% for answer in answers %}
  <li>{{answer}}</li>
  {% empty %}
  <h3>まだ誰も答えていません</h3>
  {% endfor %}
{% endblock %}

{% block bottom %}
  <a href="/">TOP</a>
{% endblock %}
